language: java
jdk:
  - oraclejdk8
before_install:
  - wget http://services.gradle.org/distributions/gradle-2.2-bin.zip
  - unzip gradle-2.2-bin.zip
  - export GRADLE_HOME=$PWD/gradle-2.2
  - export PATH=$GRADLE_HOME/bin:$PATH
  - gradle -v
